/* Estilo para a borda vermelha quando a senha é inválida */
.invalid-password {
    border: 2px solid red !important; /* Borda vermelha */
    border-radius: 4px; /* Bordas arredondadas */
  }
  
  /* Estilo para o foco no campo inválido */
  .invalid-password:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); /* Sombra vermelha ao focar */
  }